style.css
body{
    margin:20px;
}
h1{
    border-bottom: 1px solid gray;
    text-align: center;
    padding: 20px;
    margin: 0px;
    font-size: 45px;
}

a{
    text-decoration: none;
    color:black;
}

#grid{
    display:grid;
    grid-template-columns: 200px 1fr;
    border: 1px solid gray;
}

#grid ol{
    border-right:gray 3px;
    padding: 50px;
    padding-top :0px;
    width: 150px;


}
#list{
    border-right: 1px solid gray;
}

#article{
    padding:35px;
    padding-top: 20px;
}

@media(max-width:800px)
    {
        #grid{
            display:block;
        }

        h1{border-bottom: none;
        }

        #list{
            border-right:none;
        }
    }

table tr th{
    border: 1px solid black;
}

table tr td{
    border: 1px solid black;
}

table th {
    background-color: aqua;
}

table td {
    background-color: beige;
    text-align: right;
}


